<%-include("partials/header")-%>

    <h1>About</h1>
    <!-- HomeContent is key of home.ejs file which needed homeStartingContent as a value in res.render("Home") -->
    <p><%=aboutContent%></p>

<%-include("partials/footer")-%>
